* {
    font-family: 'Source Code Pro', monospace;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

#logo {
    width: 30vmin;
    margin-bottom: 1vmin;
}

.container {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
    justify-content: center;
    /* center horizontally */
    align-items: center;
    /* center vertically */
}

#soon {
    font-style: italic;
}

.left {
    flex: 1;
    float: left;
    margin-right: 15vmin;
}

.center {
    flex: 1;
}

.right {
    flex: 1;
    float: right;
    margin-left: 15vmin;
}

#sections-menu {
    font-size: 4vmin;
    text-transform: uppercase;
    color: white;
}