* {
    font-family: 'Source Code Pro', monospace;
    margin: 0;
    padding: 0;
}

body {
  width: 52vmax;
  margin: auto;
}

.logo {
  width:75px;
  margin-bottom: 1vmax;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: line-through;
}

header {
  margin-top: 2vmax;
  width: 100%;
  height: 100%;
  padding-top: 0.5vmax;
  font-size: 13px;
}

.content {
  margin-top: 2vmax;
}

.colorist-video {
  margin-right: 0.5vmax;
  margin-bottom: 0.5vmax;
}

.filmmaker-video {
  margin-bottom: 0.5vmax;
}
form {
  width: 60%;
  margin: auto;
}
form label {
  font-size: 13px;
}
form input {
  width: 70%;
}

form textarea {
  width: 70.5%;
}

form button {
  border: none;
  background-color: white;
}

form button:hover {
  text-decoration: line-through;
}


.form-button {
  text-align: right;
  margin-right: 2%;
}

.label-div {
  width: 25%;
  display: inline-block;
}

.form-group {
  margin-bottom: 10px;
}

.about-content h3 {
  margin-bottom: 50px;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  text-decoration: line-through;
}

.about-content p {
  text-align: justify;
  margin-bottom: 10px;
  font-size: 13px;
}


.colorist-content h3 {
  margin-bottom: 50px;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  text-decoration: line-through;
}

.filmmaker-content h3 {
  margin-bottom: 50px;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  text-decoration: line-through;
}

.main-menu {
    min-width: 100%;
    width: 100%;

}
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.section-title {
  text-decoration: line-through;
  font-size: 15px;
}

.section-title:hover {
  text-decoration: none;
}